@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background: rgb(231, 255, 215);
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;

}
h1{
    color: rgb(36, 109, 44);
    align-items: center;
    font-family: 'Pacifico', cursive;
}

p{
    text-align: justify;
    margin: 30px;
    font-family: calibri;
}

main{
    display: flex;
    justify-content: space-around; 
    
}

#lv{
    background: rgb(182, 212, 171); 
    width: 500px;
    height: 500px;
    justify-items: center;
}
#tp{
    background: rgb(182, 212, 171);
    width: 500px;
    height: 500px;
    justify-content: center;
}
.lt{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: rgb(36, 109, 44);
    text-decoration: none;
    text-align: center;
    justify-content: center;

}

#img1{
    width: 50px;
    margin-top: 18px;
    padding-right: 10px;
}
#img2{
    width: 45px;
    margin-top: 18px;
}
#lavanda{
    width: 450px;
    height: 450px;
    margin-top: 10px;
}
#tulipan{
    width: 450px;
    height: 450px; 
}

.footer{
    background: rgb(231, 255, 215);
    height: 80px;
    margin: 20px;
}